stages:
  # - build-and-test
  - benchmark
  # - full-test

variables:
  PYTHONUNBUFFERED: "true"
  JVMCI_BIN: /home/gitlab-runner/.local/graal-core-may/bin/java
  JVMCI_VERSION_CHECK: ignore

before_script:
  - git submodule update --init

# build_and_test_job:
#   stage: build-and-test
#   tags: [benchmarks, infinity]
#   script:
#     - timeout 5m ant unit-tests som-tests
#
# full_test_job:
#   stage: full-test
#   tags: [benchmarks, infinity]
#   script:
#     - timeout 10m ant dynamic-metrics-tests replay-tests
#     - cd tools/kompos && npm install && npm test

benchmark_forkjoin:
  stage: benchmark
  tags: [benchmarks, infinity]
  allow_failure: true
  script:
    - ant compile
    - rebench -d --without-nice codespeed.conf fj
    - ./bench-results.sh
